In [32]:
import pandas as pd
import numpy as np
# import the regressor 
from sklearn.tree import DecisionTreeRegressor  
from sklearn.metrics import mean_absolute_error

Task 1: Reading and exploring the dataset

In [2]:
dataframe = pd.read_csv("https://introtomlsampledata.blob.core.windows.net/data/bike-rental/bike-rental-hour.csv")

In [3]:
dataframe.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [4]:
dataframe.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [5]:
dataframe.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
hr              int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

Task 4: Editing metadata and selecting columns

In [6]:
categoryVariableList = ["season","weathersit"]
for var in categoryVariableList:
    dataframe[var] = dataframe[var].astype("category")

In [7]:
dataframe.dtypes

instant          int64
dteday          object
season        category
yr               int64
mnth             int64
hr               int64
holiday          int64
weekday          int64
workingday       int64
weathersit    category
temp           float64
atemp          float64
hum            float64
windspeed      float64
casual           int64
registered       int64
cnt              int64
dtype: object

In [8]:
dataframe = dataframe.drop(["instant", "dteday", "casual" ,"registered"], axis = 1)

In [9]:
dataframe.head()

,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,16
1,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,40
2,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,32
3,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,13
4,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,1

In [10]:
dataframesetA = dataframe.copy()

In [11]:
def azureml_main(dataframe1 = None, dataframe2 = None):

    # Execution logic goes here
    #print(f'Input pandas.DataFrame #1: {dataframe1}')

    # If a zip file is connected to the third input port,
    # it is unzipped under "./Script Bundle". This directory is added
    # to sys.path. Therefore, if your zip file contains a Python file
    # mymodule.py you can import it using:
    # import mymodule

    for i in np.arange(1, 13):
        prev_col_name = 'cnt' if i == 1 else 'Rentals in hour -{}'.format(i-1)
        new_col_name = 'Rentals in hour -{}'.format(i)

        dataframe1[new_col_name] = dataframe1[prev_col_name].shift(1).fillna(0)

    # Return value must be of a sequence of pandas.DataFrame
    # E.g.
    #   -  Single return value: return dataframe1,
    #   -  Two return values: return dataframe1, dataframe2
    return dataframe1,

In [14]:
dataframesetAB = azureml_main(dataframe)[0]

Input pandas.DataFrame #1:       season  yr  mnth  hr  holiday  weekday  workingday weathersit  temp  \
0          1   0     1   0        0        6           0          1  0.24
1          1   0     1   1        0        6           0          1  0.22
2          1   0     1   2        0        6           0          1  0.22
3          1   0     1   3        0        6           0          1  0.24
4          1   0     1   4        0        6           0          1  0.24
...      ...  ..   ...  ..      ...      ...         ...        ...   ...
17374      1   1    12  19        0        1           1          2  0.26
17375      1   1    12  20        0        1           1          2  0.26
17376      1   1    12  21        0        1           1          1  0.26
17377      1   1    12  22        0        1           1          1  0.26
17378      1   1    12  23        0        1           1          1  0.26

        atemp  ...  Rentals in hour -3  Rentals in hour -4  \
0      0.2879  ...                 0.0                 0.0
1      0.2727  ...                 0.0                 0.0
2      0.2727  ...                 0.0                 0.0
3      0.2879  ...                16.0                 0.0
4      0.2879  ...                40.0                16.0
...       ...  ...                 ...                 ...
17374  0.2576  ...               214.0               315.0
17375  0.2576  ...               164.0               214.0
17376  0.2576  ...               122.0               164.0
17377  0.2727  ...               119.0               122.0
17378  0.2727  ...                89.0               119.0

       Rentals in hour -5  Rentals in hour -6  Rentals in hour -7  \
0                     0.0                 0.0                 0.0
1                     0.0                 0.0                 0.0
2                     0.0                 0.0                 0.0
3                     0.0                 0.0                 0.0
4                     0.0                 0.0                 0.0
...                   ...                 ...                 ...
17374               247.0               203.0               224.0
17375               315.0               247.0               203.0
17376               214.0               315.0               247.0
17377               164.0               214.0               315.0
17378               122.0               164.0               214.0

       Rentals in hour -8  Rentals in hour -9  Rentals in hour -10  \
0                     0.0                 0.0                  0.0
1                     0.0                 0.0                  0.0
2                     0.0                 0.0                  0.0
3                     0.0                 0.0                  0.0
4                     0.0                 0.0                  0.0
...                   ...                 ...                  ...
17374               157.0               120.0                157.0
17375               224.0               157.0                120.0
17376               203.0               224.0                157.0
17377               247.0               203.0                224.0
17378               315.0               247.0                203.0

       Rentals in hour -11  Rentals in hour -12
0                      0.0                  0.0
1                      0.0                  0.0
2                      0.0                  0.0
3                      0.0                  0.0
4                      0.0                  0.0
...                    ...                  ...
17374                196.0                 85.0
17375                157.0                196.0
17376                120.0                157.0
17377                157.0                120.0
17378                224.0                157.0

[17379 rows x 25 columns]

In [15]:
dataframesetAB.head()

,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,...,Rentals in hour -3,Rentals in hour -4,Rentals in hour -5,Rentals in hour -6,Rentals in hour -7,Rentals in hour -8,Rentals in hour -9,Rentals in hour -10,Rentals in hour -11,Rentals in hour -12
0,1,0,1,0,0,6,0,1,0.24,0.2879,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0,1,1,0,6,0,1,0.22,0.2727,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0,1,2,0,6,0,1,0.22,0.2727,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,0,1,3,0,6,0,1,0.24,0.2879,...,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,0,1,4,0,6,0,1,0.24,0.2879,...,40.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
dataframesetAtest = dataframesetA[dataframesetA["yr"] == 0]
dataframesetAtrain = dataframesetA[dataframesetA["yr"] != 0]
dataframesetAtest.shape,dataframesetAtrain.shape

((8645, 13), (8734, 13))

In [19]:
dataframesetABtest = dataframesetAB[dataframesetAB["yr"] == 0]
dataframesetABtrain = dataframesetAB[dataframesetAB["yr"] != 0]
dataframesetABtest.shape,dataframesetABtrain.shape

((8645, 25), (8734, 25))

In [20]:
dataframesetAtest = dataframesetAtest.drop(["yr"],axis = 1)
dataframesetAtrain = dataframesetAtrain.drop(["yr"],axis = 1)
dataframesetABtest = dataframesetABtest.drop(["yr"],axis = 1)
dataframesetABtrain = dataframesetABtrain.drop(["yr"],axis = 1)

In [21]:
dataframesetAtest.shape,dataframesetAtrain.shape

((8645, 12), (8734, 12))

In [22]:
dataframesetABtest.shape,dataframesetABtrain.shape

((8645, 24), (8734, 24))

In [23]:
dataframesetAtestX = dataframesetAtest.drop(["cnt"],axis = 1)
dataframesetAtesty = dataframesetAtest["cnt"]
dataframesetAtestX.shape,dataframesetAtesty.shape

((8645, 11), (8645,))

In [24]:
dataframesetAtrainX = dataframesetAtrain.drop(["cnt"],axis = 1)
dataframesetAtrainy = dataframesetAtrain["cnt"]
dataframesetAtrainX.shape,dataframesetAtrainy.shape

((8734, 11), (8734,))

In [25]:
dataframesetABtestX = dataframesetABtest.drop(["cnt"],axis = 1)
dataframesetABtesty = dataframesetABtest["cnt"]
dataframesetABtestX.shape,dataframesetABtesty.shape

((8645, 23), (8645,))

In [26]:
dataframesetABtrainX = dataframesetABtrain.drop(["cnt"],axis = 1)
dataframesetABtrainy = dataframesetABtrain["cnt"]
dataframesetABtrainX.shape,dataframesetABtrainy.shape

((8734, 23), (8734,))

In [27]:
# create a regressor object 
regressorA = DecisionTreeRegressor(random_state = 0)  

# fit the regressor with X and Y data 
regressorA.fit(dataframesetAtrainX, dataframesetAtrainy)

DecisionTreeRegressor(random_state=0)

In [28]:
# create a regressor object 
regressorAB = DecisionTreeRegressor(random_state = 0)  

# fit the regressor with X and Y data 
regressorAB.fit(dataframesetABtrainX, dataframesetABtrainy)

DecisionTreeRegressor(random_state=0)

In [33]:
mean_absolute_error(dataframesetAtesty, regressorA.predict(dataframesetAtestX))

92.086003470214

In [35]:
mean_absolute_error(dataframesetABtesty,regressorAB.predict(dataframesetABtestX))

37.039329091960674